<div *ngIf="isLoading">
    <app-loading-spinner></app-loading-spinner>
</div>
<div class="container-fluid ml-auto mr-auto mb-0 pl-5 pr-5" *ngIf="!isLoading">
    <div class="d-flex flex-row pl-4">
        <div class="d-flex flex-column align-items-between p-3" style="width:30%">
            <img [src]="profilePic" alt="Pic" class="img-fluid rounded avatar" alt="[DelUser]">                    
        </div>
        <table class="table table-responsive">
            <th class="text-dark font-weight-bold"><p class="mt-auto mb-1 text-info font-weight-bold">@{{ user.loginId }}</p></th>
            <tr>
                <td class="p1 text-dark font-weight-bold">Name</td>
                <td><p class="mb-0 text-dark font-weight-bold">{{ user.firstName }} {{ user.lastName }}</p></td>
            </tr>
            <tr>
                <td class="text-dark font-weight-bold">Email</td>
                <td><p class="mb-0 text-dark font-weight-bold">{{ user.email }}</p></td>
            </tr>
            <tr>
                <td class="text-dark font-weight-bold">Contact number</td>
                <td><p class="mb-0 text-dark font-weight-bold">{{ user.contactNumber }}</p></td>
            </tr>
        </table>                
    </div>   
    <div class="row ml-auto mr-auto user-tweets" style="width:100%">
        <div class="col-xs-12">                                         
            <app-user-tweets></app-user-tweets>
        </div>
    </div>
    
</div>