.backdrop{
    position:fixed;
    top:0;
    left:0;
    width: 100vw;
    height:100vh;
    background:rgba(0,0,0,0.5);
    z-index:50;
}

.cp-component{
    position:fixed;
    top:20vh;    
    left:20vw;
    width:60vw;
    padding:16px;    
    z-index:100;
    background:rgb(230, 251, 251);
    box-shadow:0 2px 8px rgba(0,0,0,0.26);
}

.cp-component-btn{
    text-align:right;
}

input.ng-invalid.ng-touched{
    border:1px solid darkred;
}

.close-btn{
    background:transparent;
    border:none;
    font-size: x-large;
}
