<div class="backdrop" (click)="onClose()"></div>

<div class=" cp-component card mx-4 mx-md-5 shadow-5-strong">
  <div class="card-body pb-5 pt-1 px-md-5">
    <div class="d-flex d-flex-row justify-content-end">
      <button (click)="onClose()" class="close-btn p-4 text-info font-weight-bold">X</button>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-lg-8">        
        <h2 class="fw-bold mb-5">Change Password</h2>
        <div *ngIf="isLoading">
          <app-loading-spinner></app-loading-spinner>
        </div>
        <form [formGroup]="cpForm" (ngSubmit)="changePassword()" *ngIf="!isLoading">              
          <div class="form-outline mb-2">
              <input type="text" id="oldPassword" class="form-control" formControlName="oldPassword"  placeholder="valid : 6 - 18 characters"/>
              <div class="row">
                  <div class="col-sm-6">
                      <label class="form-label" for="oldPassword">Current Password</label>
                  </div>
                  <div class="col-sm-6">
                      <span class="help-block text-danger" *ngIf="cpForm.get('oldPassword')?.invalid && cpForm.get('oldPassword')?.touched && !cpForm.get('oldPassword')?.dirty">Current passsword required</span>
                      <span class="help-block text-danger" *ngIf="cpForm.get('oldPassword')?.invalid && cpForm.get('oldPassword')?.dirty">Invalid password</span>
                  </div>
              </div>
          </div>
          <div class="form-outline mb-2">
              <input type="text" id="newPassword" class="form-control" formControlName="newPassword" placeholder="valid : 6 - 18 characters" />
              <div class="row">
                  <div class="col-sm-6">
                      <label class="form-label" for="newPassword">Password</label>
                  </div>
                  <div class="col-sm-6">
                      <span class="help-block text-danger" *ngIf="cpForm.get('newPassword')?.invalid && cpForm.get('newPassword')?.touched && !cpForm.get('newPassword')?.dirty && !serverErrorResponse">New password required</span>
                      <span class="help-block text-danger" *ngIf="cpForm.get('newPassword')?.invalid && cpForm.get('newPassword')?.dirty" >Invalid password</span>
                  </div>
              </div>
          </div>  
          <div class="form-outline mb-2">
            <input type="text" id="confirmNewPassword" class="form-control" formControlName="confirmNewPassword" placeholder="valid : 6 - 18 characters" />
            <div class="row">
                <div class="col-sm-6">
                    <label class="form-label" for="confirmNewPassword">Password</label>
                </div>
                <div class="col-sm-6">
                    <span class="help-block text-danger" *ngIf="cpForm.get('confirmNewPassword')?.invalid && cpForm.get('confirmNewPassword')?.touched && !cpForm.get('confirmNewPassword')?.dirty && !serverErrorResponse">Confirm new password required</span>
                    <span class="help-block text-danger" *ngIf="cpForm.get('confirmNewPassword')?.invalid && cpForm.get('confirmNewPassword')?.dirty" >Invalid password</span>
                </div>
            </div>
        </div>                            
          <button type="submit" class="btn btn-info btn-block mb-4" [disabled]="cpForm.invalid">
            Change
          </button> 
          <span class="help-block text-danger" *ngIf="serverErrorResponse">{{ serverErrorResponse }}</span>
          <span class="help-block text-success" *ngIf="serverSuccessResponse">{{ serverSuccessResponse }}</span>
        </form>
      </div>
    </div>
  </div>
</div>
